* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

input {
    display: none;
}

.container {
    padding: 10vh 0 0 0;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.content {
    max-width: 1440px;
    width: 80vw;
    overflow: hidden;
}

.memes {
    display: flex;
    max-width: calc(1440px * 4);
    width: 320vw;
    height: 60vh;
    transition: transform 400ms ease-in-out;
}

.meme {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
}

.meme-1 {
    background-image: url(./assets/witchcraft.gif);
}

.meme-2 {
    background-image: url(./assets/wait.gif);
}

.meme-3 {
    background-image: url(./assets/oldbob.jpg);
}

.meme-4 {
    background-image: url(./assets/boromir.jpg);
}


.nav {
    width: 18vw;
}

.btn {
    cursor: pointer;
}

.text-content {
    max-width: calc(1440px * 0.75);
    width: 60vw;
    overflow: hidden;
}

.texts {
    display: flex;
    max-width: calc((1440px * 0.75) * 5);
    width: 240vw;
    transition: transform 400ms ease-in-out;
}

.text {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    color: aliceblue;
}

#radio1:checked ~ .content .memes {
    transform: translateX(0);
}

#radio2:checked ~ .content .memes {
    transform: translateX(-25%);
}

#radio3:checked ~ .content .memes {
    transform: translateX(-50%);
}

#radio4:checked ~ .content .memes{
    transform: translateX(-75%);
}

#radio1:checked ~ .text-content .texts {
    transform: translateX(0);
}

#radio2:checked ~ .text-content .texts {
    transform: translateX(-25%);
}

#radio3:checked ~ .text-content .texts {
    transform: translateX(-50%);
}

#radio4:checked ~ .text-content .texts {
    transform: translateX(-75%);
}

.nav {
    display: flex;
    gap: 0.1rem;
}

.btn {
    display: block;
    width: 2rem;
    height: 2rem;
    transition: 400ms;
    background-color: transparent;
}

.radio-btn {
    display: block;
    margin: 0.4rem;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    border: 2px solid cornflowerblue;
    background-color: cornflowerblue;
    transition: 400ms;
}

.btn:hover .radio-btn {
    border: 2px solid white;
    background-color: white;
}











